{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ham Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="home">
<h1>Ham <img src='/static/ham120.png' alt='ham' /></h1>

<p>A stub server demontrating the content- and transport-agnostic OpenC2 Message interface.</p>

<p>A <em>message</em> is a logical unit consisting of domain-specific content plus an accompanying set of
domain-independent fields.  The purpose of this code is to show that a message is transferred
end-to-end without modification regardless of the transport protocol, while making use of the
message-related capabilities provided by each transport protocol.</p>

<h3>Usage:</h3>
<ol>
<li>Go to <a href='/console'>console</a> to monitor message activity on the server.</li>
<li>Connect to the server from an OpenC2 Producer at <span id="url">{{ url_for('api_call', _external=True) }}</span>.</li>
</ol>
<img id="actuator" src='/static/ham-actuator.png'/ alt="diagram">
</div>
{% endblock %}